img {
    max-width: 100%;
    max-height: 100%;
}

.OverallWrapper {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  flex: 1;
}

.topBar {
    align-items: center;
    display: flex;
    border-bottom: #e7e7e7 1px solid;
    box-sizing: border-box;
    padding-left: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50px;
}

.pageWrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.navBlk {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.centerBlk {
    flex: 1;
}

.saveIcon {
    height: 18px;
    width: 18px;
    margin-left: auto;
    padding-right: 20px;
}

.navContainer {
    height: 100%;
    width: 100%;
    padding-left: 2px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    border-right: #e7e7e7 1px solid;
    box-sizing: border-box;
}

.navBox {
    width: 300px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 6px -6px black;
    background-color: #fbfbfb;
    border: #e7e7e7 1px solid;
    box-sizing: border-box;
}
